* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 70px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: auto;
}

.menu {
    position: relative;
    display: flex;
    gap: 35px; /* Aumenta la spaziatura tra i simboli */
    justify-content: center;
    flex-grow: 1;
}

.menu a {
    position: relative;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: all 0.3s ease;
    font-family: "Roboto Light", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-width: 50px;
}

.menu a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #E9C82B;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu a.active {
    color: #E9C82B;
}

.menu a.active::after {
    transform: scaleX(1);
}

.menu a i {
    font-size: 26px;
}

.menu a:hover {
    color: #E9C82B;
}

.menu a:hover::after {
    transform: scaleX(1);
}

.user-actions {
    display: flex;
    gap: 25px; /* Aumenta la spaziatura tra i simboli */
}

.user-actions a {
    position: relative;
    color: #333;
    text-decoration: none;
    font-size: 26px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-width: 50px;
}

.user-actions a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #E9C82B;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.user-actions a.active {
    color: #E9C82B;
}

.user-actions a.active::after {
    transform: scaleX(1);
}

.user-actions a:hover {
    color: #E9C82B;
}

.user-actions a:hover::after {
    transform: scaleX(1);
}

.user-image {
    border-radius: 50%;
    width: 30px; /* Dimensione ridotta della foto del profilo */
    height: 30px; /* Dimensione ridotta della foto del profilo */
    object-fit: cover;
}

body {
    padding-top: 70px;
}
