<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <link rel="stylesheet" href="/static/css/StyleChat.css">
</head>
<body>
<div id="navbar-container"></div>

<div class="chat-container">
  <div class="chat-header">
    <button id="back-arrow">← Torna indietro</button>
      <img src="{{ other_user.image_url }}" alt="Profile Image" class="profile-image">
      <h1>{{ other_user.username }}</h1>
  </div>
  <div class="chat-messages" id="chat-messages">
    <!-- Messaggi caricati dinamicamente -->
  </div>
  <div class="chat-input-container">
    <input type="text" id="chat-input" placeholder="Scrivi un messaggio...">
    <button id="send-button">Invia</button>
  </div>
</div>
<script>
    const chatId = "{{ chat_id }}";
    const currentUserId = "{{ current_user }}";
</script>
<script src="/static/js/chat.js"></script>
</body>
</html>
