<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map</title>
  <link rel="stylesheet" href="/static/css/StyleMap.css">
  <link rel="stylesheet" href="/static/css/StyleNavbar.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/somanchiu/Keyless-Google-Maps-API@v6.8/mapsJavaScriptAPI.js"></script>
</head>
<body data-current-page="map">
<div id="navbar-container"></div>
<main>
  <div class="search-container">
    <input type="text" id="search-input" placeholder="Inserisci la via...">
    <button id="search-button">
      <i class="bi bi-search"></i>
    </button>
    <button id="current-location-button">
      <i class="bi bi-geo-alt"></i>
    </button>
  </div>
  <div id="map"></div>
</main>
<script src="/static/js/loadNavbar.js"></script>
<script src="/static/js/map.js"></script>
</body>
</html>
